<%- if user_signed_in? %>
    <%= render :partial => "shared/dashboard" %> <br />
<% end -%>
<div> Select an acheivement to put in your gem slot </div>
<ul>
<% for achievement in @user.achievements %>
  <li>
    <%= link_to( image_tag( achievement.image.url, :border => 1 ),
                           user_path(
                              @user,
                              :user => { :gem =>  '#<File:' + Rails.root.to_s + '/public' +
                                                            achievement.image.url(:thumb, false) +'>' }
                           ),
                           :method => :put,
                           :title => achievement.name
               ) %>
 </li>
<% end %>
</ul>

